body {
    background: #ECECEC;
    margin-top: 80px;
}

.out-header {
  width: 100%;
  background-color: #fff;
  display: flex;
  min-height: 80px;
  top: 0;
  position: fixed;
  z-index: 999;
}

.out-header::before {
  box-shadow: 0 0 2px rgba(0,0,0,.14), 0 2px 5px rgba(0,0,0,.28);
  content: "";
  height: 80px;
  left: -2%;
  position: fixed;
  width: 104%;
  z-index: 998;
}


.out-header header {
  width: 90%;
  margin: 0 auto;
  z-index: 999;
}

.navigation {
    float: right;
    position: relative;
}

.navigation li {
  display: inline-block;
  margin: 0 5px;
}

.navigation li a {
  display: inline-block;
  line-height: 80px;
  height: 80px;
  border-top:4px solid #fff;
  border-bottom:4px solid #fff;
  color: #4083FF;
  padding: 0 15px;
}

.navigation li a:hover,
.navigation li a.selected
 {
  border-bottom:4px solid #86CEFF;
}

.content {
  border-top: 25px solid #ECECEC;
  width: 90%;
  margin: 0 auto;
  min-height: 90vh;
  display: flex;
}
.inner-menu {
  width: 230px;
  border-top-left-radius: 3px;
  border: 0 solid;
  align-items: stretch;
  background: #FBFBFB;
}

.inner-menu ul li a {
  color: #95989A;
  display: block;
  padding: 10px 20px;
  border-right: 3px solid #FBFBFB;
  text-transform: uppercase;
}
.inner-menu ul li a:hover,
.inner-menu ul li a.selected {
  border-right: 3px solid #3B95E3;
  background-color: #ECF6FD;
}


.inner-content {
  width: calc(100% - 230px);
  border: 0 solid;
  border-top-right-radius: 3px;
  background: #fff;
}


.out-content-home {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
}

.out-home {
  height: 400px;
  max-height: 400px;
  overflow: hidden;
  background: rgba(134,207,255,1);
  background: -moz-linear-gradient(-45deg, rgba(134,207,255,1) 0%, rgba(78,156,224,1) 47%, rgba(59,148,227,1) 79%, rgba(59,148,227,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(134,207,255,1)), color-stop(47%, rgba(78,156,224,1)), color-stop(79%, rgba(59,148,227,1)), color-stop(100%, rgba(59,148,227,1)));
  background: -webkit-linear-gradient(-45deg, rgba(134,207,255,1) 0%, rgba(78,156,224,1) 47%, rgba(59,148,227,1) 79%, rgba(59,148,227,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(134,207,255,1) 0%, rgba(78,156,224,1) 47%, rgba(59,148,227,1) 79%, rgba(59,148,227,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(134,207,255,1) 0%, rgba(78,156,224,1) 47%, rgba(59,148,227,1) 79%, rgba(59,148,227,1) 100%);
  background: linear-gradient(135deg, rgba(134,207,255,1) 0%, rgba(78,156,224,1) 47%, rgba(59,148,227,1) 79%, rgba(59,148,227,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86cfff', endColorstr='#3b94e3', GradientType=1 );
}

.home-hero {
  width: 90%;
  margin: 0 auto;
  height: 400px;
  max-height: 400px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  clear: both;
}

.out-home-icons {
  width: 100%;
  background-color: #fff;
}

.home-icons {
  min-height: 440px;
  max-height: 440px;
  width: 90%;
  margin: 0 auto;
}

.out-devtools {
  width: 100%;
  min-height: 340px;
  max-height: 340px;
  background-color: #F1F8FF;
}

.devtools {
  width: 90%;
  margin: 0 auto;
}

.out-os {
  width: 100%;
  min-height: 340px;
  max-height: 340px;
  background-color: #fff;
}

.os {
  width: 90%;
  margin: 0 auto;
}

.dm-grid-show {
  padding: 0;
}
.dm-grid-show .sv-column {
  color: #273444;
  text-align: center;
}

.dm-color {
  height: 40px;
  text-align: left;
  padding: 5px 15px;
  margin: 0 10px;
  line-height: 2;
}

.dm-color:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dm-color:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nunca, .sempre, .atencao  {
  display: block;
  clear: both;
  margin: -10px 0 40px 0;
}
.nunca {
  border-bottom: 3px solid #e57373;
}
.nunca::after {
  content: "NUNCA";
  font-size: 12px;
  font-weight: bold;
  color: #ef5350;
  top: 22px;
  position: relative;
}

.sempre {
  border-bottom: 3px solid #81c784;
}
.sempre::after {
  content: "SEMPRE";
  font-size: 12px;
  font-weight: bold;
  color: #4caf50;
  top: 22px;
  position: relative;
}

.atencao {
  border-bottom: 3px solid #5EA7DE;
}
.atencao::after {
  content: "ATENÇÃO";
  font-size: 12px;
  font-weight: bold;
  color: #1A69A6;
  top: 22px;
  position: relative;
}


.ReactTabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.ReactTabs__tab-list {
  border-bottom: 1px solid #3b95e3;
  margin: 0 0 10px;
  padding: 0;
}

.ReactTabs__tab--selected {
  background: #fff;
  border-color: #3b95e3;
  color: #3b95e3;
  border-radius: 3px 3px 0 0;
}

.ReactTabs__tab-panel {
  display: none;
}

.ReactTabs__tab-panel--selected {
  display: block;
  padding: 20px;
}

.ReactTabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.ReactTabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.ReactTabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
/*

@media screen and (min-width: 736px) {

  .layout-sidebar {
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #e0e6ed;
    position: fixed;
    width: 250px;
  }

  .layout-sidebar .logo {
    height: 200px;
    width: 250px;
    background-color: #fafafa;
    border-bottom: 1px solid #e0e6ed;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .layout-sidebar .logo img {
    vertical-align: middle;
    margin: auto;
  }

  .layout-sidebar ul li {
    border-bottom: 1px solid #e0e6ed;
  }
  .layout-sidebar ul li ul li a{
    display: block;
    padding: 10px 7px 10px 35px;
  }
  .layout-sidebar ul li ul li a:hover {
    background-color: #fff;
  }
  .layout-sidebar ul li ul li:last-of-type {
    border-bottom: none;
  }
  .layout-sidebar ul li a {
    display: block;
    padding: 10px 7px 10px 15px;
  }
  .layout-sidebar ul li a:hover {
    background-color: #f9fafc;
  }


  .content {
    margin-left: 250px;
  }
} */
